registry=https://registry.npmjs.org/
audit=false
fund=false
progress=false
update-notifier=false
prefer-online=true
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
maxsockets=5
